
http://travel.niiteki.io {
#  basicauth /admin nii236 correcthorsebatterystaple
  root public
  hugo {
  	flag watch
	database b4b26c1ff5276558316dae63431c70b5.db
  }
}

http://bash.niiteki.io {
	cors
	tls off
	proxy / localhost:8081  {
		transparent
		websocket
	}
}

http://drive.niiteki.io {
	tls off
	proxy / localhost:9000 {
		transparent
	}
}
